<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStorageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53537/AzureTableStorage.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorageService"
                contract="ServiceReference1.IStorageService" name="BasicHttpBinding_IStorageService" />
        </client>
    </system.serviceModel>
</configuration>